/*
Dark blue: #0D1F2D
Gray: #5C5C5C
Green: #2F4F2F
Brown: #4C2F27
*/

@font-face {
    font-family: Berserker-Regular;
    src: url(./fonts/Berserker-Regular.ttf);
}
body{
    margin: 0;
    background-color: #0d1f2d;
    font-family: Berserker-Regular;
}


header{
    width: 98%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    filter: invert(1);
    padding-right: 10px;
}
nav{
    margin-right: 20px;
}
nav a{
    padding-right: 25px;
}
.icons img{
    transition: 1s all;
}
.icons img:hover{
    transform: scale(1.2);
}
nav img{
    width: 30px;
    filter: invert(1);
}
hr{
    width: 99%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #880808, #ffffff, #4C2F27);
}


@media (max-width:700px){
    header{
        flex-direction: column;
    }
    .logo{
        margin-left: 0;
    }
    nav{
        padding: 10px 0px;
        margin-right: 0;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
}