
body{
    font-family: 'Inter', sans-serif;
    color: #464646;
    background-color: #F5F5F5;
    overflow-x: hidden;
    font-size: 16px;
}
h1{
    font-weight: 700;
}
h2{
    font-size: 2em;
    font-weight: 700;
}
header{
    display: flex;
    justify-content: space-between;
    height: 88px;
    font-size: 1empx;
    padding: 1rem 0px 1rem 0px;
    color: #464646;
}
a:link, a:visited{
    text-decoration: none;    
    color: #464646;
}
.internal-links {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
.internal-links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.internal-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.mini-head{
    padding: 32px 0px 32px 0px;
    margin: 0 15% 0 15%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.topics-shortcuts{
    width: 50%;
}
.topics{
    display: flex;
    justify-content: space-between;
}
.attract-inside{
    width: 100vw;
    height: 368px;
    display: flex;
    margin: 5% 15% 0 15%;
    align-items: center;
}
.attract-inside img{
    padding-left: 1rem;
}
.selling-art{
    width: 50vw;
    height: 246px;
    margin-top: 30px;
}
.selling-art h1{
    font-size: 3em;
    font-weight: 700;
}
.selling-art p{
    font-weight: 400;
    margin-top: 1em;
}
.pages{
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-top: 20px;
}
.page{
    transition: .3s;
}
.page img{
    margin-left: 10px;
}
.page:hover{
    scale: 1.15;
}
.main-picture{
    width: 360px;
    border-radius: 50%;
}
.about-me, .Education{
    width: 100%;
    height: 383px;
    background-color: #EAF2FD;
    margin-top: 5%;
}
.inside-me{
    margin: 0 15% 0 15%;
    padding: 5% 0;
    width: 50%;
}
.inside-me p{
    font-size: 1em;
    font-weight: 400;
    margin-top: 25px;
}
.skills, .hobbies, .conding-exp{
    width: 100%;
}
.inside-section{
    height: 244px;
    margin: 0 15% 0 15%;
    padding-top: 5%;
}
.inside-section h2{
    text-align: center;
}
.blocks{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5%;
}
.block{
    width: 160px;
    height: 160px;
    background-color: #ffffff;
    transition: 1s all;
    border-radius: 15px;
}
.block:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.block h3{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}
.block img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}
.Education{
    width: 100%;
    height: 630px;
    background-color: #EAF2FD;
    margin-top: 5%;
}
.block2{
    width: 368px;
    height: 286px;
    background-color: #ffffff;
    transition: 1s all;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.block2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alura{
    padding-top: 40px;
}
.FreeCodeCamp{
    width: 290px;
}
.info h3{
    font-size: 1.5em;
    font-weight: 700;
    padding-top: 25px;
    width: 286px;
}
.info p{
    padding-top: 10px;
    font-size: 1em;
    font-weight: 500;
}
.coding-exp{
    width: 100%;
}
.inside-exp{
    margin: 5% 15% 0 15%;
    text-align: center;
}
.projects img{
    width: 700px;
    border-radius: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.projects{
    display: flex;
    padding-top: 5%;
    padding-bottom: 10%;
    justify-content: space-evenly;
    align-items: center;
}
.project-info{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    text-align: left;
}
.project-info h3{
    font-size: 1.5em;
    font-weight: 700;
}
.project-info p{
    font-size: 1em;
    font-weight: 500;
    padding-top: 5%;
    margin-top: 5%;
}
.buttons{
    margin-top: 10%;
}
.button{
    padding: 16px;
    border: solid #2a7ae4;
    font-size: 1em;
    font-weight: 400;
    width: 120px;
    border-radius: 15px;
    transition: .4s;
}
.button:hover{
    cursor: pointer;
    
    scale: 1.20;
}
.button a{
    color: #2a7ae4
}
.button-right{
    background-color: #2a7ae4;
    margin-left: 30px;
}
.button-right{
    color: #ffffff;
}
footer{
    width: 100%;
    background-color: #EAF2FD;
    padding-top: 5%;
    padding-bottom: 10%;
    height: auto;
}
.contact-form{    
    width: 100%;
    display: flex;
    margin: 5% 15% 0 15%;
    height: auto;
}
.contact-img{
    width: 464px;
    height: 593px;
}
.contact{
    display: flex;
    flex-direction: column;
    height: 593px;
    margin-left: 25px;
    width: 600px;
    justify-content: space-evenly;
}
.contact h2{
    padding-bottom: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.wrapper input{
    border: none;
}

.wrapper .first-content{
    font-size: .9em;
    font-weight: 400;
    color: #a2a2a2;
    padding: 5px 0 0 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.wrapper .inputarea{
    font-size: 1em;
    height: 20px;
    font-weight: 400;
    color: #464646;
    padding: 5px 0 5px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wrapper input:focus, .wrapper input:focus{
    outline: none;
    border-bottom: 2px solid #2a7ae4;
}
.wrapper .message{
    margin-bottom: 10px;
    border: none;
}
.wrapper textarea{
    padding: 5px 0 0 15PX;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.wrapper .message:focus{
    outline: none;
    border-bottom: 2px solid #2a7ae4;
}
.contact button{
    width: 144px;
    height: 51px;
    color: #ffffff;
    background-color: #2a7ae4;
    font-size: 1em;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}
.contact button:hover{
    cursor: pointer;
}

@media screen and (max-width:768px){

}

@media screen and (max-width: 375px){

}