.project__info{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    text-align: left;
}
.project__info h3{
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 20%;
}
.project__info p{
    font-size: 1em;
    font-weight: 500;
    padding-top: 5%;
    margin-top: 5%;
}