
.contactme{    
    width: 100%;
    display: flex;
    height: auto;
    width: 100%;
    background-color: #EAF2FD;
    padding-top: 5%;
    padding-bottom: 10%;
    height: auto;
    padding: 5% 15% 5% 15%;
}