.education__content__blocks{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5%;
}

@media screen and (max-width: 768px) {
    .education__content__blocks{
        width: 100vw;
    }
}