.presentation__Content{
    width: 50vw;
    height: 246px;
    margin-top: 30px;
}
.presentation__Content h1{
    font-size: 3em;
    font-weight: 700;
}
.presentation__Content p{
    font-weight: 400;
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .presentation__Content{
        width: 50vw;
        height: 210px;
        margin-right: 30px;
    }
    .presentation__Content h1{
        font-size: 2em;
        font-weight: 700;
    }
    .presentation__Content p{
        font-weight: 400;
        margin-top: 1em;
    }
}